:root {
  --first-color: #43aaff;
  --second-color: #ffc24d;
  --text-color: #4b5258;
  --text-color-light: #959a9d;
  --body-color: #f2f9ff;

  --body-font: "Mont", sans-serif;

  --biggest-font-size: 30px;
  --h2-font-size: 22px;
  --h3-font-size: 18px;
  --h4-font-size: 14px;
  --bold-font-size: 16px;
  --text-font-size: 12px;
}
